@model TestsProject.Models.ViewModels.TeacherStudentDetailsVM
@{
    ViewBag.Title = "Student";
}

<h2>Details - @Html.ValueFor(n => Model.Name)</h2>
<b>Completed tests: </b>@Model.CompletedTests.Count
@if (Model.CompletedTests.Count() == 0)
{
	<h3>This student hasn't taken any tests yet.</h3>
}
@foreach (var stats in Model.CompletedTests)
{
	<h3>@stats.TestParameters.Name - @Html.DisplayFor(s => stats.StartTime)</h3>
	<h4>@Html.ActionLink("Details", "Full","Test",new { id = stats.Id }, new { })</h4>
	<div class="row">
		<div class="col-md-3">
			@Html.LabelFor(m => stats.Correct):
			@Html.ValueFor(m => stats.Correct)
			<br />
			@Html.LabelFor(m => stats.Incorrect):
			@Html.ValueFor(m => stats.Incorrect)
			<br />
			@Html.LabelFor(m => stats.Unanswered):
			@Html.ValueFor(m => stats.Unanswered)
			<br />
			@Html.LabelFor(m => stats.PartiallyCorrect):
			@Html.ValueFor(m => stats.PartiallyCorrect)
			<br />
			@Html.LabelFor(m => stats.PartiallyIncorrect):
			@Html.ValueFor(m => stats.PartiallyIncorrect)
			<br/>
			<hr />
			@Html.LabelFor(m => stats.TotalScore):
			@Html.ValueFor(m => stats.TotalScore)
			<br />

			@Html.LabelFor(m => stats.MaximumScore):
			@Html.ValueFor(m => stats.MaximumScore)
		</div>
		<div class="col-md-6">
			<br />
			<img src="@Url.Action("ChartTestResults","Chart", new {id = @stats.Id})" />
			<br />
		</div>
	</div>
}
@Html.ActionLink("<<Back", "Students", "Teacher")
